{{#each posts as |post| }}
<h2>
    <a href="/post/{{post.id}}">{{post.title}}</a>
</h2>
<p>Created by {{{User.name}}} on {{format_date post.date_created}}</p>

<p>
    {{post.description}}
</p>

{{/each}}